<div class="flex flex-col flex-wrap justify-center items-center mb-10">

<div class="avatar-loader">
  <ngx-skeleton-loader count="1" appearance="circle"  [theme]="{ width: '200px', height: '200px' }"></ngx-skeleton-loader>
</div>

<div class="bio-loader">
  <ngx-skeleton-loader [theme]="{ width: '200px', height: '20px' }"></ngx-skeleton-loader>
  <ngx-skeleton-loader [theme]="{ width: '190px', height: '20px' }"></ngx-skeleton-loader>
  <ngx-skeleton-loader [theme]="{ width: '170px', height: '20px' }"></ngx-skeleton-loader>
  <ngx-skeleton-loader [theme]="{ width: '200px', height: '20px' }"></ngx-skeleton-loader>
</div>
</div>
