
<div class="hidden md:flex flex-row flex-wrap gap-20 justify-center items-start mb-10">
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '500px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '500px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '500px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '500px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '500px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '500px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '500px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '500px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '500px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '500px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
</div>

<div class="md:hidden flex flex-row flex-wrap gap-20 justify-center items-start mb-10">
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '340px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '340px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '340px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '340px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '340px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '340px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '340px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '340px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '340px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
  <div class="repos-loader">
    <ngx-skeleton-loader [theme]="{ width: '200px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ width: '340px', height: '30px' }"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="4" [theme]="{ width: '50px', height: '30px', marginRight:'10px'}"></ngx-skeleton-loader>
  </div>
</div>

<div class="flex flex-row justify-center items-end gap-[2px] fixed bottom-0 left-1/2 shadow-[rgba(96,165,250,0.3)_0px_9px_30px] transform -translate-x-1/2 py-4 backdrop-blur-md w-full text-center" >
  <ngx-skeleton-loader [theme]="{ width: '35px', height: '35px', marginRight:'20px' }">&lt;&lt;</ngx-skeleton-loader>
    <div class="page-numbers">
      <ngx-skeleton-loader [theme]="{ width: '35px', height: '35px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '35px', height: '35px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '35px', height: '35px' }"></ngx-skeleton-loader>
      <span class="text-[#eaeaea]">...</span>
    </div>
      <ngx-skeleton-loader [theme]="{ width: '35px', height: '35px' }">&lt;&lt;</ngx-skeleton-loader>
</div>